{% load i18n pages_tags %}

{% if on_home %}
    <a href=""><img src="images/blog-home.png" alt=""/></a>
{% else %}
{% for page in page_branch %}

    {% if page.is_primary and forloop.first %}
        <a href="{% url home %}">{% trans "Home" %}</a>
        >
    {% endif %}

    {% if page.is_current_or_ascendant %}
    {% if page.is_current %}
    <a class="active-blog">{{ page.title }}</a>
    {% else %}
        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        >
    {% endif %}
    {% page_menu page %}
    {% endif %}

{% endfor %}
{% endif %}