<!DOCTYPE html>
{% load pages_tags mezzanine_tags i18n %}
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">

    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url blog_post_feed "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url blog_post_feed "atom" %}">
    {% endifinstalled %}

    <!-- Included CSS Files -->
    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}theme/stylesheets/foundation.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}theme/stylesheets/app.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}theme/css/green.css">
        {% ifinstalled cartridge.shop %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/cartridge.css">
        {% endifinstalled %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}


    <!--[if lt IE 9]> <link rel="stylesheet" href="{{ STATIC_URL }}theme/stylesheets/ie.css"> <![endif]-->
    <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

    {% compress js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}theme/javascripts/jquery-ui-1.8.20.custom.min.js"></script>
        <script src="http://bxslider.com/sites/default/files/jquery.bxSlider.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}theme/javascripts/general.js"></script>

        <script>
            $(document).ready(function(){
                //Examples of how to assign the ColorBox event to elements
                $(".group1").colorbox({rel:'group1'});
                $(".group2").colorbox({rel:'group2', transition:"fade"});
                $(".group3").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
                $(".group4").colorbox({rel:'group4', slideshow:true});
                $(".ajax").colorbox();
                $(".youtube").colorbox({iframe:true, innerWidth:425, innerHeight:344});
                $(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
                $(".inline").colorbox({inline:true, width:"50%"});
                $(".callbacks").colorbox({
                    onOpen:function(){ alert('onOpen: colorbox is about to open'); },
                    onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
                    onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
                    onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
                    onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
                });

                //Example of preserving a JavaScript event for inline calls.
                $("#click").click(function(){
                    $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
                    return false;
                });
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('.plus-button').click(function() {
                    $('.plus').slideToggle(200, function() {
                        $('.plus-button').toggleClass('up');
                    });
                });

            });
        </script>

        <script type="text/javascript" src="{{ STATIC_URL }}theme/js/jquery.idTabs.min.js"></script>
    {% endcompress %}

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<!-- CONTAINER -->
<div class="container">

<!-- BACKGORUND COLOR STYLE -->
<div class="cap-bg-color-top"></div>
<div class="cap-bg-color-bottom"></div>

<!-- HR BACKGORUN COLOR -->
<div class="row">
    <div class="menu_hr"></div>
</div> <!-- /.row -->


<!-- MENU -->
<div class="plus-content">
    <div class="plus">
        <h4>Why Support Us?</h4>
        <p><b>Mauris dui massa,</b> pellentesque eget laoreet quis, semper sed risus. Ves tibulum fermentum massa vel magna laoreet lorem ipsum is simply dummy data tempus.</p>
        <div class="cap_button"><a href="">All<span><img src="images/button_arrow23.png" alt=""/></span></a></div>
        <div class="cap_button"><a href="">All<span><img src="images/button_arrow2.png" alt=""/></span></a></div>
    </div>
    <a href="#" class="plus-button" title=""></a>
</div>

<div class="row">
    <div class="twelve columns">
        <div class="menu_nav">
            {% page_menu "pages/menus/dropdown.html" %}
            <!-- /#menu -->
            <div class="search">
                <form action="{% url search %}">
                    <input type="text" name="q" placeholder="{% trans "Search" %}" autocomplete="off" value="{{ request.REQUEST.q }}"
                           onfocus="if(this.value=='Search..')this.value='';this.select();"
                           onBlur="if(this.value=='')this.value='Search..';"/>
                </form>

            </div><!--/.search-->
        </div> <!-- /.menu_nav -->
    </div> <!-- /.twelve columns -->
</div> <!-- /.row -->


<!-- LOGO -->
<div class="mrgn-t-45"></div>
<div class="row header">
    <!--
    {% if settings.SITE_TITLE %}<a class="brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
    {% if settings.SITE_TAGLINE %}<p class="tagline">{{ settings.SITE_TAGLINE }}</p>{% endif %}
    -->
    <div class="tree columns">
        <img src="images/logo.png" width="197" height="60" alt="" />
    </div><!--/.tree columns-->

    <div class="one columns">
        <p class="cp-header-line"></p>
    </div><!--/.one columns-->

    <div class="five columns">
        <p class="cp-header-description">It’s perfect clean minimal theme!</p>
    </div><!--/.five columns-->

    <div class="tree columns">
        <div class="cap-social">
            <ul>
                <li><a class="has-tip" data-width="60" title="Facebook" href=""><img src="images/facebook_icon.png" alt=""  /></a></li>
                <li><a class="has-tip" data-width="60" title="Twitter" href=""><img src="images/twitter_icon.png" alt=""  /></a></li>
                <li><a class="has-tip" data-width="60" title="Apple" href=""><img src="images/apple_icon.png" alt=""  /></a></li>
            </ul>
        </div><!--/.cap-social-->
    </div><!--/.tree columns-->
</div><!--/.row-->

<!-- AREA 1 -->
<div class="row">
    <div class="twelve columns">
        <div class="mrgn-t-28"></div>
        <div class="bg-border">
            <div class="blog-header">
                <b>27jan</b> Pellentesque Aliquam Venenatis
                    <span>
                        {% spaceless %}
                            {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                        {% endspaceless %}
                    </span>
            </div><!--/.blog-header-->
        </div><!--bg-border-->
    </div><!--twelve columns-->
</div> <!-- /.row -->


<!-- AREA 2 -->
<div class="row">

<div class="nine columns">

    <!-- 1 -->
    <div class="bg-border mrgn-t-45">
        <div class="cap-blog-area">
            <div class="cap-blog-read">

                {% block main %}{% endblock %}

            </div><!--/.cap-blog-read-->
        </div> <!--/.cap-blog-area-->
    </div><!-- /.bg-border -->


</div><!--/.nine columns-->

<div class="three columns">

    <!--1-->
    <div class="mrgn-t-45"></div>
    <div class="bg-border">
        <div class="cap-blog-area-r">
            <div class="blog-read-desc">
                    	<span>
                        	<img src="images/user1.png" alt=""/>
                            <br><em>CEO</em><br><em><b>IAMILKAY</b></em>
                        </span>

                <h5>DESCRIPTION:</h5>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form..
                </p>
            </div>
        </div> <!--/.cap-blog-area-->
    </div><!-- /.bg-border -->

    <!--2-->
    <div class="mrgn-t-45"></div>
    <div class="bg-border-2">
        <div class="cap-blog-area-r">

            <div class="tabs-1-menu">
                <a href="" class="first active">Post Tags</a>
            </div>
            <div class="clearfix"></div>
            <div class="pop-tags">
                <a href="">Media</a>
                <a href="">PHP</a>
                <a href="">Photoshop</a>
                <a href="">Magazines</a>
                <a href="">Photos</a>
                <a href="">Multimedia</a>
                <a href="">CSS</a>
            </div>

        </div> <!--/.cap-blog-area-->
    </div><!-- /.bg-border -->

    <!--3-->
    <div class="mrgn-t-45"></div>
    <div class="bg-border">
        <div class="cap-blog-area-r">
            <div id="usual2" >
                <ul class="usual">
                    <li><a href="#tabs1" class="selected">Random Post</a></li>
                    <li><a href="#tabs2">Comments</a></li>
                </ul>

                <div id="tabs1">

                    <div class="tabs-post">
                        <ul>
                            <li>
                                <img src="images/blog-image1.jpg" alt=""/>
                                <a href="">Mauris dui massa</a>
                                <span>Sed nulla pellentes...<br><em>28 Jan 2011</em></span>
                            </li>
                            <li>
                                <img src="images/blog-image1.jpg" alt=""/>
                                <a href="">Mauris dui massa</a>
                                <span>Sed nulla pellentes...<br><em>28 Jan 2011</em></span>
                            </li>
                            <li>
                                <img src="images/blog-image1.jpg" alt="">
                                <a href="">Mauris dui massa</a>
                                <span>Sed nulla pellentes...<br><em>28 Jan 2011</em></span>
                            </li>
                            <li>
                                <img src="images/blog-image1.jpg" alt="">
                                <a href="">Mauris dui massa</a>
                                <span>Sed nulla pellentes...<br><em>28 Jan 2011</em></span>
                            </li>
                        </ul>

                    </div>

                </div>
                <div id="tabs2">

                    <div class="tabs-post">
                        <ul>
                            <li>
                                <img src="images/blog-image1.jpg" alt=""/>
                                <a href="">Mauris dui massas</a>
                                <span>Sed nulla pellentes...<br><em>28 Jan 2011</em></span>
                            </li>
                            <li>
                                <img src="images/blog-image1.jpg" alt="">
                                <a href="">Mauris dui massa</a>
                                <span>Sed nulla pellentes...<br><em>28 Jan 2011</em></span>
                            </li>
                            <li>
                                <img src="images/blog-image1.jpg" alt="">
                                <a href="">Mauris dui massa</a>
                                <span>Sed nulla pellentes...<br><em>28 Jan 2011</em></span>
                            </li>
                            <li>
                                <img src="images/blog-image1.jpg" alt="">
                                <a href="">Mauris dui massa</a>
                                <span>Sed nulla pellentes...<br><em>28 Jan 2011</em></span>
                            </li>
                        </ul>

                    </div>


                </div>
                <div class="clearfix"></div>
                <div class="tabs-button-l"><a href=""><img src="images/tabs-button-l.png" alt=""></a></div>
                <div class="tabs-button-r"><a href=""><img src="images/tabs-button-r.png" alt=""></a></div>
            </div>

            <script type="text/javascript">
                $("#usual2 ul").idTabs("tabs2");
            </script>

            <!--/.tabs-post-->
        </div> <!--/.cap-blog-area-->
    </div><!-- /.bg-border -->
</div>
</div><!--/.row-->

<!-- FOOTER 3 AREA COLUMNS -->
<div class="mrgn-t-45"></div>
<div class="row">

    <!--#1-->
    <div class="four columns">
        <div class="first-columns">
            <h4>Company About Us</h4><br />
            <p>Sed nulla justo, <b>fermentum</b> nec ultri cies aenea, ornare vel turpis.
                Prae sent rhoncus Fusce ullamcorper et sodales in, venenatis ac turpis. </p>
            <p><b>Mauris dui massa,</b> pellentesque eget laoreet quis, semper sed risus.
                Ves tibulum fermentum massa vel magna laoreet lorem tempus.</p>
        </div>
        <div class="cap_button"><a href="">All<span><img src="images/button_arrow2.png" alt=""/></span></a></div>
    </div> <!-- /.four centered -->

    <!--#2-->
    <div class="four columns">
        <div class="second-columns">
            <h4>Blog Categories</h4><br />
            <ul>
                <li><img src="images/12/blog-icon.png" alt=""/><a href="">Sed nulla justo pellentesque eget</a></li>
                <li><img src="images/12/blog-icon.png" alt=""/><a href="">Fermentum massa vel manga</a></li>
                <li><img src="images/12/blog-icon.png" alt=""/><a href="">Quisque bibendum commodo aliquam</a></li>
                <li><img src="images/12/blog-icon.png" alt=""/><a href="">Phasellus laoreat viverra</a></li>
            </ul>
        </div>
        <div class="cap_button"><a href="">All<span><img src="images/button_arrow3.png" alt=""/></span></a></div>
    </div> <!-- /.four centered -->

    <!--#3-->
    <div class="four columns">
        <div class="third-columns">
            <h4>Latest Blog Posts</h4><br />
            <ul>
                <li>
                    <img src="images/blog-image1.jpg" alt=""/>
                    <a href=""><div class="has-tip tip-top noradius" data-width="210" title="I'm on the top and I'm not rounded!"><h6>Mauris Dui Massa</h6></div></a>
                    <p class="">Sed nulla justo pellentesque eget <br /> <span>28 Jan 2011</span></p>
                </li>
                <li>
                    <img src="images/blog-image2.jpg" alt=""/><a href=""><div class="has-tip tip-top noradius" data-width="210" title="I'm on the top and I'm not rounded!"><h6>Mauris Dui Massa</h6></div></a>
                    <p class="">Sed nulla justo pellentesque eget <br /> <span>28 Jan 2011</span></p>

                </li>
            </ul>
        </div>
        <div class="cap_button"><a href="">All<span><img src="images/button_arrow3.png" alt=""/></span></a></div>
    </div> <!-- /.four centered -->
</div> <!-- /.row -->


<!-- FOOTER -->
<div class="mrgn-t-45"></div>
<div class="row cap-footer">
    <div class="pddng-16">

            <span class="ff-copse italic">
            	Copright © 2012 Capadocia Themes <a href="#">imtheme.net</a>. All rights reserved.
            </span>

        <div class="cap-footer-logo">
            <img class="has-tip tip-left noradius" data-width="100" title="logo" src="images/footer-logo.png" alt="" />
        </div>

    </div> <!-- /.pddng-16 -->
</div> <!-- /.row cap-footer -->
<div class="row">
    <div class="menu_hr"></div>
</div> <!-- /.row -->
</div> <!-- /.container -->
</body>
</html>






